
html {
    scroll-behavior: smooth!important;position: absolute;
  }
  .site-wrap {overflow-x:hidden!important;}
body{
    margin: 0!important;
}
img {
    max-width: 100%;
    height: 400px;
  }
p{
    vertical-align: middle;
    font-size: 1.5vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center; 
    color:black!important;
}
.carousel-item p{
    font-size: 2vw!important;
}
  .center {
    margin: auto!important;
    width: 50%!important;
  }
h1{
    font-family: 'Orbitron', sans-serif!important;
    color: #D9b08c!important;
    padding-bottom: 10px;
}
 h4{
    font-family: 'Architects Daughter', cursive!important;
}
#title{
    font-family: 'Orbitron', sans-serif;
    color: #caffbf!important;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

.navbar-custom { 
    background-color:transparent;
    
   
}
.nav-link{
    color: #caffbf!important;
    text-decoration-color: #caffbf;
}
.responsive
{
    width: 80%;
  height: auto;
}


.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      /* position:absolute; */
      object-fit:cover;
      top:0;
      left: 0;
      width:600px;
      height:338px;
      align-items: center;
  }

  .modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
#eventcarousel{

    text-align: center;
    background-color:#2C3531;
    color:#fff;
}

  .navbar-toggler>.close {
    display:inline;
    font-family:"Times New Roman",  serif!important;
  color:#ffdec2!important;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;

}
.nav-item .logo{
  font-size: 1.8em !important;
}

* {
  box-sizing: border-box;
}


.doodle{
  position: fixed;
  z-index: -1;
}



@import url("https://fonts.googleapis.com/css?family=Lato:300");



  &::after {
    // position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      #ffadad, #FDD835, #caffbf, #a0c4ff, #bdb2ff, #9bf6ff
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
 
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

